body {
    font-family: 'Tahoma', serif;
    font-size: 16px;
    background-color: #FFF;
    margin: 0px;
}

#buttons {
    text-align: center;
}

#buttons button {    
    margin: 10px auto;
    font-size: 1rem;    
}

#cards {
    text-align: center;
    margin: 0 auto;
}

#cards th {
    width: 200px;
}

#cards img {
    height: 200px;
}

.hidden {
    display: none;
}

#remaining {
    text-align: center;
}
