
@{
    Layout = null;

    // Comments inside of a Razor block work just like C# comments

    var name = "Josh";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @* Razor comments can also be in between these two characters.
            These comments are removed before getting returned to the client.
        *@
        <p>Hello World! The current time is @DateTime.Now</p> @* <-- This is an inline Razor comment*@

        @* We can write simple conditional code using if/else*@
        @if (name == "Josh")
        {
            <p>Your name is Josh</p>
        }
        else
        {
            <p>Hello @name</p> @* name is a variable declared anywhere on the view page. *@
        }



        @* Or we can write loops *@
        @for (int i = 0; i < 10; i++)
        {
            @* This will print out the <p> tag 10 times *@
            <p>Hello @name</p>
        }
    </div>
</body>
</html>
