
@{
    Layout = null;
    //string name = "Josh";
    string name = Request.QueryString["name"];
    string hometown = Request.QueryString["hometown"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PersonalGreeting</title>
</head>
<body>
    
    @if (!String.IsNullOrEmpty(name) && !String.IsNullOrEmpty(hometown))
    {
        <h1>Hello @name</h1>
        <p>You are being watched from @hometown</p>
    }

    @* We are creating a form, that displays the textboxes to prompt the user
        for their name and hometown. 
        The values when submitted are attached to the querystring and a new page
        is loaded. *@
    <form>
        <input type="text" placeholder="enter your name..." name="name" />
        <input type="text" placeholder="enter your hometown..." name="hometown"/>
        <button>GO!</button>
    </form>
</body>
</html>
