<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>@ViewBag.Title</title>

    <!-- Include Google Font - Raleway -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <!-- Include style.css -->
    <link rel="stylesheet" href="~/Content/style.css">
</head>

<body>

    <header>        
        <a href="#">
            <img src="~/Content/logo.png" />
        </a>
    </header>
    <main>
        @RenderBody()
    </main>

</body>

</html>