@*3. Bind our view to a model *@
@model IList<ViewsPart2.Web.Models.TrelloList>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Trello Board</title>

    <!-- Include Google Font - Raleway -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">    

    <!-- Include style.css -->
    <link rel="stylesheet" href="~/Content/style.css">
</head>

<body>

    

    <!-- Original HTML From HTML & CSS Day -->
    <h1>My Task List</h1>
    <main id="trello-board">

        @foreach(var list in Model)
        {
            <div class="trello-list">
                <h2>@list.Name</h2>
                <ol class="cards">
                    @foreach(var card in list.Cards)
                    {
                        <li class="card">@card.Title</li>
                    }
                </ol>
            </div>
        }

        @*<div class="trello-list">
            <h2>To Do</h2>
            <ol class="cards">
                <li class="card">Upload Assignment</li>
                <li class="card">Post Github Portfolio Page</li>
                <li class="card">C#</li>
                <li class="card">SQL</li>
                <li class="card">OOP Review</li>
                <li class="card">Clean Garage</li>
                <li class="card">Abandon Java</li>
            </ol>
            <a href="#">Add a card...</a>
        </div>

        <div class="trello-list">
            <h2>Completed</h2>
            <ol class="cards">
                <li class="card">Teach Module 1</li>
                <li class="card">Teach Module 2</li>
                <li class="card">Module 1 Code Review</li>
                <li class="card">Async Talk</li>
                <li class="card">LINQ Talk</li>
            </ol>
            <a href="#">Add a card...</a>
        </div>

        <div class="trello-list">
            <h2>Pushed Off</h2>
            <ol class="cards">
                <li class="card">Eat Breakfast</li>
            </ol>
            <a href="#">Add a card...</a>
        </div>*@

    </main>
</body>

</html>