@* Bind our view to a model *@
@model ViewsPart2.Web.Models.TrelloList

@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.Title = "Trello - " + Model.Name;
}

<a href="~/home">Go back</a>
<div class="trello-list">
    <h2>@Model.Name</h2>
    <ol class="cards">
        @foreach (var card in Model.Cards)
        {
            <li class="card">@card.Title</li>
        }
    </ol>
</div>

