<!DOCTYPE html>
<!-- THIS IS DONE BY THE LAYOUT PAGE -->
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- Include Google Font - Raleway -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <!-- Include style.css -->
    <link rel="stylesheet" href="~/Content/style.css">

</head>
<body>

    @RenderBody()    
</body>
</html>
