@* Bind the form to a model *@
@model Forms.Web.Models.FormModel
@{
    ViewBag.Title = "BlankForm";
}

<h2>BlankForm</h2>

<!-- A form tag tells the browser, to send any "input" elements in the request that submits the form -->
      @* Where to send the request *@            @* how to send it *@

<form action="@Url.Action("FormResult", "Home")" method="get">
    <!--<input type="text" name="name" placeholder="enter name" /> -->
    @Html.TextBoxFor(c => c.Name, new { placeholder = "enter name" })
    
    <input type="password" name="password" placeholder="enter password" />

    <input type="checkbox" name="subscribe" /> please send me marketing information

    <input type="radio" name="gender" value="M" /> Male
    <input type="radio" name="gender" value="F" /> Female

    <select name="state">
        <option value="OH">Ohio</option>
        <option value="MI">Michigan</option>
        <option value="WY">Wyoming</option>
    </select>

    <input type="color" name="favoriteColor" placeholder="favorite color" />

    <button>Go</button>
</form>